<html>
    <head>
        <title>css</title>
        <link rel="stylesheet" href="../../../static/css/اردک واویشکا.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <hr width="60%">
        <nav>
           <fieldset>
            <legend>راهنما</legend>
            <a href="#ab" id="m">تاریخچه</a>
            <br>
            <a href="#ac"  id="m">مواد لازم</a>
            <br>
            <a href="#ax"  id="m">طرز تهیه</a>
           </fieldset>
        </nav>
        <hr width="60%">
        <article>
            <h1>اردک واویشکا</h1>
            <img src="../../../static/aks/اردک واویشکا.jpg" alt="عکس اردک واویشکا" width="600px" height="600px">
            <br>
            <h1>تاریخچه</h1>
            <p id="ab">
                این غذای گیلانی از نظر پروتئین و آهن و ویتامین ها غنی بوده و بهتر است کنار این غذا از سبزیجات تازه به خوبی استفاده شود .
                <br>
                <q>واویشکا از غذا‌های محلی استان گیلان است که اصالت آن به کشور روسیه بر می‌گردد. پای این غذا پس از جنگ جهانی دوم توسط روس‌ها به ایران باز شد و از آن پس به عنوان یک غذای پرطرفدار در خطه شمال مورد استقبال قرار گرفت.
                </q>
            </p>
            <h1>مواد لازم</h1>
            <ul align="right" id="ac">
                <br>
                <li>گوشت اردک : 250 گرم</li>
                <li>پیاز :1 عدد</li>
                <li>دانه انار ترش : 200 گرم</li>
                <li>رب انار : 1 قاشق غذاخوری</li>
                <li>روغن : 2 قاشق غذاخوری</li>
                <li>نمک – فلفل – زردچوبه : به مقدار لازم</li>
            </ul>
            <h1>طرز تهیه</h1>
            <ol align="right" id="ax">
                <br>
                <li>پیاز را سرخ و با گوشت اردک قطعه شده تفت دهید .</li>
                <br>
                <li>دانه انار و رب انار را به همراه کمی آب و یک لیوان آب انار همراه با ادویه جات به آن اضافه کرده
                    و با شعله ملایم بپزید تا ترشی به خورد گوشت اردک برود .</li>
                    <br>
                <li>وقتی به روغن افتاد واویشکا با رنگ سیاه آماده است .</li>
                <br>
                <li>این غذا با برنج سرو میشود .</li>
            </ol>
            <div align="center" id="d1" >
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
            <hr>
            <li align="center">
                <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
            </li>
            </form>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
            <a href="{% url 'باقالی قاتوق' %}"> 
                <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه باقالی قاتوق</h2>
            </a>   
                <br>
                <hr>
            <a href="{% url 'شوید خلی' %}">    
                <img src="../../../static/aks/شوید خلی.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه شوید خلی</h2>
            </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>