<html>
    <head>
        <title>اشپل کوکو</title>
        <link rel="stylesheet" href="../../../static/css/اشپل کوکو.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d1">
                <h1>به گیلانی فوودز خوش آمدید</h1>
            </div>
            <h1>گیلانی فوودز معدن غذا های گیلانی</h1>
        </header>
        <nav>
            <fieldset>
                <legend>راهنما</legend>
                <a href="#q" class="w">تاریخچه</a>
                <br>
                <a href="#qq" class="w">مواد لازم</a>
                <br>
                <a href="#qqq" class="w">طرز تهیه</a>
                <br>
            </fieldset>
        </nav>
        <br>
        <article>
            <h1>اشپل کوکو</h1>
            <img src="../../../static/aks/اشپل کوکو.jpg" alt="عکس اشپل کوکو" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>کوکو یکی از غذاهای رایج است که از ترکیب سبزیجات مختلف با تخم مرغ بدست می آید. اما اشپل کوکو که یک غذای اصیل گیلانی است از اشپل یا تخم ماهی و ترکیب آن با ادویه جات مختلف و برگ سیر و تخم مرغ تهیه می شود. اشپل ماهی خیلی خاصیت دارد و سرشار از امگا ۳ است. اما نسبت به ماهی، غذایی سنگین است و هضم آن برای معده سخت است. از این رو توصیه می شود میزان کمتری نسبت به بقیه مواد غذایی مصرف شود.</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>اشپل</li>
                <li>برگ سیر</li>
                <li>تخم مرغ</li>
                <li>نمک و فلفل سیاه</li>
                <li>زردچوبه و روغن</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای تهیه اشپل کوکوی خوشمزه و مجلسی ابتدا برگ سیر ها را شسته و ریز خرد می کنیم. یک کاسه بر می داریم. اشپل را درون آن می ریزیم. سپس برگ سیر ها را اضافه می کنیم. نمک و فلفل و زردچوبه را هم به آن اضافه می کنیم.</li>
                <br>
                <li>در آخر تخم مرغ هم اضافه کرده و کاملا مخلوط می کنیم تا مواد با هم یکدست شوند. مواد باید به خوبی با هم مخلوط شوند تا بوی بد ماهی را بگیرد. یک تابه بر می داریم و با کمی روغن، روی حرارت قرار می دهیم تا داغ شود.</li>
                <br>
                <li>در این مرحله وقتی روغن به خوبی داغ شد، همه مواد را به صورت یک باره درون تابه می ریزیم و روی مایه کوکو را با پشت اشق کاملا صاف می کنیم، سپس  زیر شعله را کم می کنیم و درب تابه را می بندیم تا پخته شود.</li>
                <br>
                <li>در مرحله پایانی پس از اینکه یک طرف کوکو به خوبی رنگ گرفت و سرخ شد، آنرا بر می گردانیم تا سمت دیگرش نیز به طور کامل سرخ شود. سپس آن را در ظرف مناسب کنار سبزی خوردن و سیر ترشی، سرو می کنیم.</li>
            </ol>
            <br>
            <h1>فیلم طرز تهیه</h1>
            <video src="../../../static/film/اشپل کوکو.mp4" controls width="600px" height="600px"></video>
            <div id="d2"><h1>تره نوش جان</h1></div>
            <br>
            <br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'میرزا قاسمی' %}">
                    <img src="../../../static/aks/میرزا قاسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه میرزا قاسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'انار بیج' %}">
                    <img src="../../../static/aks/اناربیج.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اناربیج</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'ترش کباب' %}">
                    <img src="../../../static/aks/ترش کباب.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ترش کباب</h2>
                </a>
                <br>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>