<html>
    <head>
        <title>آلو مسمی</title>
        <link rel="stylesheet" href="../../../static/css/الو مسمی.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <br>
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="g" href="#q">تاریخچه</a>
                <br>
                <a class="g"  href="#qq">مواد لازم</a>
                <br>
                <a class="g"  href="#qqq"> طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <article>
            <h1>آلو مسمی</h1>
            <img src="../../../static/aks/الو مسمی.jpg" alt="عکس الو مسمی" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>خورش آلو مسما یکی از خورش های معروف استان گیلان است که در این استان با نام شیرین قاتق هم شناخته می شود. این خورش خوشمزه طعمی ترش یا ملس دارد که برای کسانی که عاشق غذاهای ترش مزه هستند یک پیشنهاد مناسب می باشد،</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>سینه یا ران مرغ</li>
                <li>آلو سیاه</li>
                <li>شکر</li>
                <li>رب گوجه فرنگی</li>
                <li>پیاز</li>
                <li>نمک و فلفل سیاه</li>
                <li>روغن و زردچوبه</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>ابتدا روی قطعات مرغ کمی نمک و فلفل سیاه می پاشیم سپس داخل یک تابه مناسب مقداری روغن می ریزیم و روی حرارت قرار می دهیم. پس از اینکه روغن داغ شد قطعات مرغ را داخل تابه می چینیم و اجازه می دهیم با حرارت ملایم سرخ شوند.</li>
                <br>
                <li>پس از اینکه دو طرف مرغ ها طلایی شد، آنها را از تابه خارج می کنیم و کنار می گذاریم. در ادامه آلوها و قیسی ها را به مدت ۱۵ دقیقه در آب می خیسانیم تا کمی نرم شوند. حالا پیازها را به صورت نگینی یا خلالی خرد می کنیم.</li>
                <br>
                <li>در این مرحله پیازها را به همراه کمی روغن داخل قابلمه ای که برای پخت خورش در نظر گرفته ایم تفت می دهیم تا سبک شوند. پس از سبک شدن پیازها مقداری زردچوبه اضافه می کنیم و یک دقیقه دیگر تفت می دهیم تا زردچوبه و پیاز یکدست شوند.</li>
                <br>
                <li>حالا قیسی و آلو سیاه را آبکشی می کنیم و به پیاز داغ اضافه می کنیم، حدود ۵ دقیقه آلو و قیسی را تفت می دهیم سپس وسط قابلمه را باز می کنیم و رب گوجه فرنگی را وسط قابلمه دو دقیقه تفت می دهیم تا طعم خامی اش گرفته شود.</li>
                <br>
                <li>پس از اینکه رب گوجه فرنگی سرخ شد، مرغ های سرخ شده را به همراه شکر، فلفل سیاه و مقداری نمک اضافه می کنیم و درب قابلمه را می گذاریم تا خورش روغن بیندازد. حدود ۴۰ دقیقه زمان نیاز است تا خورش آماده سرو شود.</li>
                <br>
            </ol>
            <video src="../../../static/film/آلو مسمی.mp4" alt="فیلم طرز تهیه آلو مسمی" controls width="600px" height="600px"></video>
            <br>
            <div id="d2"><h2>تره نوش جان</h2></div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'اشپل کوکو' %}">    
                    <img src="../../../static/aks/اشپل کوکو.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اشپل کوکو</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'کال کباب' %}">
                    <img src="../../../static/aks/کال کباب.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه کال کباب</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'ترش تره' %}">
                    <img src="../../../static/aks/ترش-تره-گیلانی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ترش تره</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>