<html>
    <head>
        <title>اناربیج</title>
        <link rel="stylesheet" href="../../../static/css/انار بیج.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <br>
        <nav class="q">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#asd" id="m">تاریخچه</a>
            <br>
            <a href="#zx" id="m">مواد لازم</a>
            <br>
            <a href="#fd" id="m">طرز تهیه</a>
            </fieldset>
        </nav>
        <br>
        <article class="q">
            <h1>انار بیج</h1>
            <img src="../../../static/aks/اناربیج.jpg" alt="عکس انار بیج" width="600px" height="600px">
            <br>
            <h1>تاریخچه</h1>
        <p id="asd">
            خورش اناربیج یکی از انواع خورش های محبوب در شمال کشورمان است که با ترکیبات متنوعی درست می شود.
            <br>
            <q>تاریخچه اناربیج چیست و اصلا کلمه اناربیج از کجا آمده است و به چه معناست؟ شاید ک اناربیج برای شما دوستان عزیز همواره کلمه ای گنگ و غیرمفهومی باشد اما باید بدانید که این کلمه یکی از محبوب ترین و در عین حال از منحصر به فرد ترین غذاهای محلی و سنتی استان گیلان است. اناربیج یک خورشت محلی و بسیار خوشمزه شمال کشور می باشد که با بهره گیری از مواد اولیه بسیار زیبا و خوش طعم همواره مزه بسیار خوبی را ب هشما ارائه خواهد داد، از این رو لطفا با ما همراه باشید تا اطلاعات کامل تری را دریافت کنید.</q>
        </p>
        <br>
        <h1>مواد لازم</h1>
        <ul align="right" id="zx">
            <li>گوشت چرخ کرده</li>
            <li>پیاز</li>
            <li>سبزی معطر</li>
            <li>مغز گردو</li>
            <li>رب انار</li>
            <li>نمک، فلفل و زردچوبه</li>
        </ul>
        <br>
        <h1>طرز تهیه</h1>
        <ol id="fd" align="right">
            <li>برای تهیه خورش انار بیج شمالی ابتدای کار گوشت را به تکه های کوچک تقسیم می کنیم، سپس درون چرخ گوشت قرار می دهیم و چرخ می کنیم. در ادامه مغز گردو را درون چرخ گوشت می ریزیم و چرخ می کنیم.</li>
            <br>
            <li>حالا سبزی معطر (جعفری، گشنیز، نعنا، چوچاق و خالواش) را می شوییم، سپس درون آبکش قرار می دهیم و اجازه می دهیم آب اضافی شان کاملا خارج شود. در ادامه سبزی معطر را روی تخته گوشت قرار می دهیم.</li>
            <br>
            <li>در این مرحله سبزی معطر را به صورت ساطوری ریز خرد می کنیم. در ادامه یک تابه مناسب روی حرارت ملایم قرار داده و اجازه می دهیم تابه به خوبی گرم شود، سپس سبزی خرد شده را درون تابه می ریزیم.</li>
            <br>
            <li>حالا سبزی را تفت می دهیم تا آب اضافی اش تبخیر شود. در ادامه مقداری روغن مایع به سبزی اضافه می کنیم، سپس تفت می دهیم تا سبزی کمی سرخ شود. دقت کنید سرخ شدن بیش از حد سبزی خورش را تلخ می کند.</li>
            <br>
            <li>در این مرحله پوست ۱ عدد پیاز را جدا می کنیم، سپس می شوییم و با دندانه های ریز رنده، رنده می کنیم. در ادامه پیاز رنده شده را به همراه نمک و فلفل سیاه به گوشت چرخ کرده اضافه می کنیم، سپس ورز می دهیم.</li>
            <br>
            <li>حالا مقداری از گوشت چرخ کرده بر می داریم و به اندازه های دلخواه کوفته های قلقلی درست می کنیم. در ادامه یک قابلمه مناسب روی حرارت ملایم قرار می دهیم، سپس مقداری روغن مایع درون آن می ریزیم.</li>
            <br>
            <li>در این مرحله پوست پیاز باقی مانده را جدا می کنیم و می شوییم، سپس به صورت ریز رنده می کنیم و به قابلمه اضافه می کنیم. در ادامه پیاز را تفت می دهیم تا سبک و شیشه ای شود، سپس گردو را اضافه می کنیم.

            </li>
            <br>
            <li>حالا گردو را تفت می دهیم تا بوی خامی آن گرفته شود، سپس زردچوبه، نمک و فلفل سیاه را اضافه می کنیم. در ادامه ۴ لیوان آب جوش به گردو اضافه می کنیم و اجازه می دهیم با حرارت ملایم جوش بزند تا روغن بیندازد.</li>
            <br>
            <li>در این مرحله زمانی که گردو روغن انداخت، سبزی خرد شده را به آن اضافه می کنیم، سپس مخلوط می کنیم و اجازه می دهیم سبزی کاملا پخته شود. در ادامه پس از پخته شدن سبزی حرارت زیر قابلمه را زیاد می کنیم.</li>
            <br>
            <li>در این مرحله کوفته قلقلی ها را درون خورش قرار می دهیم. توجه داشته باشید زمانی که می خواهیم کوفته ها را اضافه کنیم، خورش باید در حال جوشیدن باید تا کوفته ها از هم باز نشوند. در ادامه رب انار را به خورش اضافه می کنیم.</li>
            <br>
            <li>در نهایت اجازه می دهیم خورش بجوشد تا کاملا جا بیوفتد. در ادامه زمانی که خورش کاملا جا افتاد حرارت را خاموش می کنیم، سپس درون ظرف مورد نظرمان می ریزیم. در آخر خورش انار بیج را با پلو
                زعفرانی سرو کنید.</li>
        </ol>
        <br>
                <h1 id="i">ویدیو طرز تهیه</h1>
                <video src="../../../static/film/anar.mp4" width="600px" height="600px" controls></video>
        <div id="d1">
            <h1>تره نوش جان</h1>
        </div>
        <br><br>
        <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
            <hr>
            <li align="center">
                <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
            </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'کویی تره' %}">
                    <img src="../../../static/aks/کویی تره.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه کویی تره</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'بادمجان شکم پر' %}">
                    <img src="../../../static/aks/بادمجان شکم پر.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه بادمجان شکم پر</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'شوید خلی' %}">
                <img src="../../../static/aks/سیرابیج.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">شوید خلی</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>