<html>
    <head>
        <title>بادمجان شکم پر</title>
        <link rel="stylesheet" href="../../../static/css/بادمجان شکم پر.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div class="a">
                <h1>به گیلانی فوودز خوش آمدید</h1>
            </div>
            <h1>گیلانی فوودز معدن غذا های گیلانی</h1>
        </header>
        <nav>
            <fieldset>
                <legend>راهنما</legend>
                    <a href="#q" class="w">تاریخچه</a>
                    <br>
                    <a href="#qq" class="w">مواد لازم</a>
                    <br>
                    <a href="#qqq" class="w">طرز تهیه</a>
                    <br>
            </fieldset>
        </nav>
        <article>
            <h1>بادمجان شکم پر</h1>
            <img src="../../../static/aks/بادمجان شکم پر.jpg" alt="عکس بادمجان شکم پر" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>بادمجان شکم پر گیلانی یکی از روش های بسیار خوشمزه برای تهیه یک غذای اصیل گیلانی می باشد که نیازی به گوشت ندارد و با رب انار و گردو تهیه می شود. بادمجان شکم پر گیلانی خیلی ساده است و شما می توانید به همراه کته یا نان تازه سرو کنید و یک ایده خوب برای مهمانی نیز می باشد. بادمجان شکم پر گیلانی به همراه سس غلیظ شده و گوجه سرخ شده سرو می شود و شما می توانید بنا به ذائقه خود مقدار ترشی و شیرینی این غذا را کم و زیاد کنید.</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>بادمجان </li>
                <li>گردو </li>
                <li>پیاز چرخ شده</li>
                <li>حریره سیر</li>
                <li>رب انار ملس</li>
                <li>چوچاق و خالیواش</li>
                <li>زرد چوبه</li>
                <li>نمک</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>از بادمجان های قلمی و نازک استفاده کنید. بادمجان ها را پوست بگیرید و برای زیبای غذا بهتر است کلاهک روی بادمجان را جدا نکنید و به مدت ۲۰ دقیقه در مخلوط آب و نمک قرار دهید تا تلخی بادمجان ها گرفته شود. سپس بادمجان ها را داخل روغن خوب سرخ کنید تا طلایی شود.</li>
                <br>
                <li>گردو ها را باید خرد کنید. بهتر است گردو ها را کمی دندان گیر یعنی کمی درشت خرد کنید تا مزه آن در غذا احساس شود و برای خرد کردن آن از هاون یا غذاساز با دور کند استفاده کنید. پیاز را پوست بگیرید و داخل غذاساز بریزید و پوره کنید و یا می توانید رنده بزنید. سیر را نیز پوره یا رنده کنید.</li>
                <br>
                <li>داخل یک تابه روغن ریخته و گردو و رب انار و سبزی ها و پیاز و سیر را به همراه کمی نمک اضافه کنید و کمی تفت دهید تا بوی خامی گردو از بین برود. حالا حدود ۱/۳ از مواد را داخل تابه قرار دهید و مابقی را خارج کنید. به محتویات داخل تابه ۱ لیوان آبجوش اضافه کنید.</li>
                <br>
                <li>بادمحان های سرخ شده را روی تخته آشپزی قرار دهید و یک شکاف روی آن ایجاد کنید و از مواد تهیه شده گردو داخل بادمجان ها را پر کنید و داخل سس قرار دهید و درب تابه را قرار دهید و بگذارید تا سس غلیظ و بادمجان شکم پر گیلانی جا افتاده شود.</li>
            </ol>
            <br>
            <video src="../../../static/film/شکم پر.mp4" alt="فیلم طرز تهیه" width="600px" height="600px" controls></video>
            <br>
            <div id="d2">
                <h1>تره نوش جان</h1>
            </div>
            <br>
            <br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'پامدور خورشت' %}">
                    <img src="../../../static/aks/پامدور خوررشت.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه پامدور خورشت</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>