<html>
    <head>
        <title>باقالی قاتوق</title>
        <link rel="stylesheet" href="../../../static/css/باقالی قاتوق.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
        <h1>معدن غذا های گیلانی</h1>
        </header>
        <hr width="60%">
        <nav>
            <fieldset>
                <legend>راهنما</legend>
            <a href="#ma" id="n">تاریخچه</a>
            <br>
            <a href="#na" id="n">مواد لازم</a>
            <br>
            <a href="#ba" id="n">طرز تهیه</a>
            </fieldset>
        </nav>
        <hr width="60%">
        <article>
        <h1>باقالی قاتوق</h1> 
        <img src="../../../static/aks/باقالی قاتوق.jpg" alt="عکس باقالی قاتوق" width="600px" height="600px">
        <br>
        <h1>تاریخچه غذا</h1>
        <p id="zz">باقلا قاتق یکی از خورشت های معروف و محلی گیلان می باشد که طرز تهیه آسانی دارد. باقالا قاتق برای گیاه خواران می توانید یک غذای لذیذ و خوشمزه باشد. این غذا بسیار پرفایده می باشد.
        <br>
        <q id="zz">باقلا با سابقه‌ای چند هزار ساله جالب است بدانید باقلا که اصلی‌ترین ماده مورد نیاز برای پخت باقلا قاتق است، سابقه چند هزار ساله دارد. فراعنه مصر و روم باستان از باقلا در تهیه غذا استفاده می‌کردند حتی نمونه‌هایی از باقلا در قبرهای مصریان باستان هم کشف شده که خود گویای سابقه طولانی استفاده از این گیاه، توسط انسان است.</q>
        </p>
        <h1>مواد لازم</h1>
        <ul class="a" align="right" id="na">
            <li>پاچ باقلا	300 گرم  </li>              
            <li>تخم مرغ	3 عدد </li>
            <li>شوید خشک	4 قاشق غذاخوری</li>
            <li>کره و یا روغن زیتون	50گرم</li>
            <li>سیر  4 حبه</li>
            <li>آب یک لیتر</li>
            <li>زرد چوبه	1 قاشق چای خوری</li> 
            <li>نمک و فلفل سیاه	به میزان لازم</li>
        </ul>
        <h1>طرز تهیه</h1>
        <ol class="a" id="ba" align="right">
            <li>برای تهیه باقالا قاتق ابتدا پوست باقلا ها را جدا کنید و در تابه و یا قابلمه ای مناسب به همراه کمی روغن یا کره تفت دهید.</li>
            <br>
            <li>پس از اینکه باقالا ها را مقداری تفت دادید سیر ها را پوست بگیرید و بشورید. سیر ها را رنده کنید و به باقلا ها اضافه کنید تا بوی سیر بلند شود. </li>
            <br>
            <li>شوید خشک را کم‌کم به باقلا ها اضافه کنید و هم بزنید تا کاملا ترکیب شوند.</li>
            <br>
            <li>زردچوبه و نمک را نیز به مواد باقالی قاتوق اضافه کنید و هم بزنید تا خوب تفت بخورند.</li>
            <br>
            <li>فلفل سیاه و دارچین را نیز به مواد اضافه کنید و تفت دهید. دارچین کاملا دلخواه است شما می توانید آن را اضافه نکنید.</li>
            <br>
            <li>در ادامه ا لیتر آب روی آن ها بریزید تا باقلا نیم پز شود و آب به جوش آید. </li>
            <br>
            <li>وقتی آب داخل باقلا به جوش آمد تخم مرغ ها را به آنها اضافه کنید. تخم مرغ ها باید کاملا پخته شوند و نباید در غذا هم زده شوند.</li>
        </ol>
            <h1 align="center">ویدیو طرز تهیه</h1>
            <video src="../../../static/film/baghali ghatogh.mp4" width="600px" height="600px " controls align="center"></video>
        <div id="d1">
            <h1>تره نوش جان</h1>
        </div>
        <br><br>
        <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
            <hr>
            <li align="center">
                <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
            </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'جغول مغول' %}">
                    <img src="../../../static/aks/جقول.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه جغول مغول</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'فسنجون' %}">
                    <img src="../../../static/aks/فسنجون1.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه فسنجون</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>


