<html>
    <head>
        <title>ترش واش</title>
        <link rel="stylesheet" href="../../../static/css/ترش واش.css">
    </head>
    <body dir="rtl" align="center">
        <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
        <h1>معدن غذا های گیلانی</h1>
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="y" href="#q">تاریخچه</a>
                <br>
                <a class="y" href="#qq">مواد لازم</a>
                <br>
                <a class="y" href="#qqq">طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <article>
        <h1>ترش واش</h1>
        <img src="../../../static/aks/ترش واش.jpg" alt="عکس ترش واش" width="600px" height="600px">
        <br>
        <h1 id="q">تاریخچه</h1>
        <p>غذاهای شمالی و خصوصاً غذاهای محلی گیلان محبوبیت زیادی در بین افراد با ذائقه های مختلف دارد و معمولاً در پخت بیشتر آن ها از سبزیجات تازه و مواد طبیعی استفاده می شود و عطر و طعم بسیار بی‌نظیری دارند.
            یکی از این غذاهای خوشمزه که پختن آن هم کار سختی نیست خورشت ترش واش می باشد که داخل یک ظرف به اسم گمج طبخ می شود و از یک نوع از سبزی به اسم " ترش واش" تهیه می شود که طعم ترشی به خورش می دهد. بعضی‌ ها به این سبزی شبدر ترشک هم می‌ گویند که با طعم ترش خود طعم بی نظیری به این غذا می بخشد.تهیه خورشت ترش واش گیلانی از نظر سختی در درجه متوسط قرار دارد و به کمتر از نیم ساعت زمان برای آماده سازی آن نیاز دارید و برای پخت آن هم نیم ساعت زمان نیاز است.</p>
        <br>
        <h1 id="qq">مواد لازم</h1>
        <ul align="right">
            <li>ران و سینه مرغ</li>
            <li>سبزی ترش واش</li>
            <li>سیر</li>
            <li>رب انار</li>
            <li>گوجه فرنگی</li>
            <li>بادمجان</li>
            <li>آبغوره</li>
            <li>نمک و فلفل سیاه</li>
            <li>زردچوبه و روغن</li>
            <q>سبزی این خورش متشکل از ۲۵۰ گرم ترش واش، ۵۰ گرم جعفری، ۵۰ گرم گشنیز، ۵۰ گرم نعنا، ۵۰ گرم چوچاق و ۵۰ گرم خالواش می باشد که نسبت به ذائقه خود می توانیم سبزیجات را کم یا زیاد کنیم. سبزی ترش واش جایگزین ندارد و باید حتما از این سبزی استفاده شود.</q>
        </ul>
        <br>
        <h1 id="qqq">طرز تهیه</h1>
        <ol  align="right">
            <li>برای تهیه خورش ترش واش گیلانی ابتدا سبزی ترش واش را به صورت کاملا ریز مانند سبزی قورمه سبزی خرد می کنیم. در ادامه یک تابه مناسب روی حرارت قرار می دهیم، سپس سیرها را به صورت ریز خرد می کنیم و به تابه اضافه می کنیم.</li>
            <br>
            <li>سیرها را کمی تفت می دهیم تا عطرشان بلند شود، سپس سبزی ترش واش را به تابه اضافه می کنیم و به خوبی تفت می دهیم تا کاملا سرخ شود. اگر بخواهیم رنگ خورش تیره تر شود باید سبزی را بیشتر سرخ کنیم.</li>
            <br>
            <li>البته سرخ کردن بیش از حد سبزیجات باعث می شود که خواص شان از بین برود. پس از اینکه سبزی را سرخ کردیم انرا کنار می گذاریم، سپس داخل یک قابلمه مناسب کمی روغن اضافه می کنیم و اجازه می دهیم روغن به طور کامل داغ شود.</li>
            <br>
            <li>در این مرحله روی تکه های مرغ کمی زردچوبهف نمک و فلفل سیاه می پاشیم، سپس داخل روغن داغ به طور کامل سرخ می کنیم. پس از اینکه تمام قسمت های گوشت مرغ را سرخ کردیم، سبزی سرخ شده را به تابه اضافه می کنیم.</li>
            <br>
            <li>حالا رب انار را با کمی آب رقیق می کنیم و به قابلمه اضافه می کنیم. در ادامه ۲ پیمانه آب اضافه می کنیم و اجازه می دهیم خوری به مدت ۱ تا ۲ ساعت با حرارت بسیار بپزد. در ۳۰ دقیقه پایانی پخت خورش طعم انرا می چشیم.</li>
            <br>
            <li>در صورت نیاز مقداری نمک و فلفل سیاه به همراه آبغوره اضافه می کنیم و اجازه می دهیم خورش به روغن بیفتد. در همین حین گوجه فرنگی ها را از وسط نصف می کنیم و بادمجان ها را به صو.رت ورقه ای خرد می کنیم.</li>
            <br>
            <li>در این مرحله گوجه فرنگی ها و بادمجان ها را سرخ می کنیم و کنار می گذاریم. پس از اینکه خورش به طور کامل آماده شد آنرا در ظرف مورد نظرمان می شکیم سپس با بادمجان و گوجه فرنگی تزیین کرده و به همراه کته سرو می کنیم.</li>
            <br>
        </ol>
        <br>
        <h1>فیلم طرز تهیه</h1>
        <video src="../../../static/film/ترش واش.mp4" alt="فیلم طرز تهیه ترش واش" width="600px" height="600px" controls></video>
        <br>
        <br>
        <div id="d2"><h1>تره نوش جان</h1></div>
        <br><br>
        <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
            <hr>
            <li align="center">
                <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
            </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'شوید خلی' %}">
                    <img src="../../../static/aks/شوید خلی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه شوید خلی</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
    </article>
    </body>
</html>