<html>
    <head>
        <title>ترش تره</title>
        <link rel="stylesheet" href="../../../static/css/ترش تره.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غدا های گیلانی</h1>
        </header>
        <nav class="x">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#1" class="f">تاریخچه</a>
            <br>
            <a href="#2" class="f">مواد لازم</a>
            <br>
            <a href="#3" class="f">طرز تهیه</a>
            </fieldset>
            <br>
        </nav>
        <article class="x">
            <h1>ترش تره</h1>
            <img src="../../../static/aks/ترش-تره-گیلانی.jpg" alt="عکس ترش تره" width="600px"height=600px>
            <br>
            <h1 id="1">تاریخچه</h1>
            <p>ترش تره یا ترشی تره یکی از انواع غذاهای خوشمزه و ساده ایرانی است که اصالت آن متعلق به شمال می باشد.
                <br>
                <q>ترشه تره نوعی خورش گیلانی است که در گیلان و نواحی غرب مازندران توسط مردم گیلک طبخ و معمولا با ماهی سرخ شده یا ماهی دودی و یا به تنهایی سرو می شود.</q>
            </p>
            <br>
            <h1 id="2">مواد لازم</h1>
            <ul align="right">
                <li>سبزی ترش تره</li>
                <li>نعنا خشک</li>
                <li>آرد برنج</li>
                <li>آبغوره</li>
                <li>سیر</li>
                <li>تخم مرغ</li>
                <li>نمک و فلفل سیاه</li>
                <li>زردچوبه و روغن</li>
            </ul>
            <br>
            <h3 id="3">طرز تهیه</h3>
            <ol>
                <li>برای تهیه ترش تره رشتی ابتدا سیر را پوست می گیریم و رنده می کنیم، سپس به همراه کمی روغن داخل یک تابه مناسب تفت می دهیم تا سیر طلایی شود، سپس تخم مرغ ها را به سیر تفت داده اضافه می کنیم.</li>
                <br>
                <li>در این مرحله اجازه می دهیم تخم مرغ سفت شوند، سپس سیر و تخم مرغ را به خوبی ترکیب می کنیم تا کاملا یکدست شوند، سپس تابه را از روی حرارت کنار می گذاریم. در ادامه سبزی ترش تره را به صورت ریز خرد می کنیم.
                </li>
                <br>
                <li>سپس سبزی خرد شده را به همراه یک پیمانه آب داخل یک قابلمه مناسب می ریزیم و اجازه می دهیم آب درون قابلمه کشیده شود و سبزی بپزد. پس از اینکه سبزی پخت آنرا با گوشتکوب به خوبی می کوبیم تا کاملا له شود.</li>
                <br>
                <li>در این مرحله سبزی کوبیده شده را مجددا به قابلمه باز می گردانیم و آب غوره را نیز اضافه می کنیم. در ادامه مخلوط تخم مرغ و سیر را به همراه آرد برنج اضافه می کنیم و مواد را به خوبی مخلوط می کنیم تا آرد برنج گلوله نشود.</li>
                <br>
                <li>حالا اجازه می دهیم تا ترش تره با حرارت ملایم جا بیفتد، سپس انرا در ظرف مورد نظرمان می کشیم و به همراه برنج سرو می کنیم. در شهرهای شمالی این غذای خوشمزه را معمولا به همراه ماهی دودی و برنج کته شده سرو می کنند.</li>
            </ol>
            <br>
                <h1>ویدیو طرز تهیه</h1>
                <video src="../../../static/film/ترش تره.mp4" width="600px" height="600px" controls></video>
            <div id="d1">
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'سیر قلیه' %}">
                    <img src="../../../static/aks/سیر قلیه.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه سیر قلیه</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'جوکوله' %}">
                    <img src="../../../static/aks/جوکوله.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه جوکوله</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>