<html>
    <head>
        <title>ترش کباب</title>
        <link rel="stylesheet" href="../../../static/css/ترش کباب.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="g" href="#q">تاریخچه</a>
                <br>
                <a class="g" href="#qq">مواد لازم</a>
                <br>
                <a class="g" href="#qqq">طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <article>
            <h1>ترش کباب</h1>
            <img src="../../../static/aks/ترش کباب.jpg" alt="عکس ترش کباب">
            <br>
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>این خورشت یکی دیگه از خوشمزه های شمالیه که موادش در دسترس همه هست و راحت آماده میشه.
                ترش کباب ظاهرش با اسمش اصلا هماهنگی نداره، وقتی میگی ترش کباب تو ذهنت گوشت ترش کباب شده میاد ولی ترش کباب گیلانی ها داستانش فرق میکنه در هر صورت خوشمزه ست تو هوای شمالم ک دو برابر میشه خوشمزگیش.</p>
                <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>ران یا سینه مرغ(ترجیحا محلی)</li>
                <li>سیب زمینی</li>
                <li>پیاز</li>
                <li>بادمجان قلمی</li>
                <li>رب گوجه</li>
                <li>آب غوره یا آب نارنج</li>
                <li>نمک</li>
                <li>فلفل سیاه</li>
                <li>زردچوبه</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>اول مرغ ها را با آب پیاز حلقه شده  کمی نمک و  با آب نارنج یا آبغوره کامل بپزید بعد مرغ های پخته شده را خارج کنید و رب گوجه فرنگی را با کمی روغن تفت دهید.</li>
                <br>
                <li>تا رنگ باز شود و به آب مرغ اضافه کنید همراه با کمی نمک و فلفل میزان ترشی را تست کنید اگر مایل بودید بیشترش کنید سیب زمینی های پوست کنده و خلالی را با کمی زردچوبه داخل روغن داغ سرخ کنید.
                </li>
                <br>
                <li>بعد بادمجان های پوست کنده ورقه ای که تلخیش را گرفتید سرخ کنید بعد مرغ ها را سرخ کنید و در نهایت گوجه فرنگی ها را علت مرحله به مرحله سرخ شدن استفاده از همون روغن اولیه سیب زمینی هاست.</li>
                <br>
                <li>این غذا دو مدل سرو میشود هم به صورت جدا و هم به این صورت که سیب زمینی و مرغ و بادمجان و با آب خورش آماده شده یک جا سرو کنید که این بستگی به سلیقه خودتان دارد و با عشق نوش جان کنید.</li>
                <br>
            </ol>
            <br>
            <h1>ویدیو طرز تهیه</h1>
            <video src="../../../static/film/torsh kabab.mp4" alt="فیلم طرز تهیه ترش کباب" controls width="600px" height="600px"></video>
            <br>
            <br>
            <div id="d2"><h1>تره نوش جان</h1></div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'رشته خشکار' %}">
                    <img src="../../../static/aks/رشته خشکار.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه رشته خشکار</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'شوید خلی' %}">
                    <img src="../../../static/aks/شوید خلی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">شوید خلی</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>