<html>
    <head>
        <title>جغول مغول</title>
        <link rel="stylesheet" href="../../../static/css/جغول مغول.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
       <fieldset>
            <legend>راهنما</legend>
            <nav class="s">
            <a href="#b" id="t">تاریخجه</a>
            <br>
            <a href="#v" id="t">مواد اولیه</a>
            <br>
            <a href="#j" id="t">طرز تهیه</a>
            </nav>
        </fieldset>
            <br>
        <article class="s">
            <h1>جغول مغول(واویشکا)</h1>
            <img src="../../../static/aks/جقول.jpg" alt="عکس جغول مغول" width="600px" height="600px">
            <br>
            <h1 id="b">تاریخچه</h1>
            <p>
                واویشکای دل و جگر از غذای سنتی و بسیار پرطرفدار استان گیلان است که با دستورهای متنوعی درست می شود
            <br>
            <q>چغور پغور یا جَغور بَغور غذای محلی در مناطق مختلف ایران است[نیازمند منبع] که از دل و جگر و قلوه درست می‌شود. در گذشته بخاطر اینکه قیمت چندان بالایی نداشته در واقع فست فودی برای قشرهای متوسط و پایین جامعه به حساب می‌آمده‌است.اما امروزه یکی از غذا های خوشمزه به شمار میرود که  در بازار های شهر های مختلف سرو می‌شود</q>
            </p>
            <br>
            <h1 id="v">مواد اولیه</h1>
            <ul align="right">
                <li>جگر گوسفندی</li>
                <li>پیاز</li>
                <li>جگر سفید گوسفند</li>
                <li>دل گوسفند</li>
                <li>گوجه فرنگی</li>
                <li>رب گوجه فرنگی</li>
                <li>زعفران دم کرده</li>
                <li>زردچوبه، نمک و فلفل سیاه</li>
                <li>روغن مایع</li>
            </ul>
            <br>
            <h1 id="j">طرز تهیه</h1>
            <ol>
                <li>برای تهیه واویشکای دل و جگر خوشمزه ابتدای کار جگر گوسفند را می شوییم، سپس درون آبکش قرار می دهیم تا آب اضافی اش خارج شود. در ادامه دل گوسفند را از وسط برش می زنیم، سپس به خوبی می شوییم.</li>
                <br>
                <li>حالا دل را درون آبکش قرار می دهیم تا آب اضافی اش خارج شود. در ادامه جگر سفید را می شوییم، سپس درون آبکش قرار می دهیم و اجازه می دهیم آب اضافی اش خارج شود. در ادامه جگر گوسفند را روی تخته گوشت قرار می دهیم.</li>
                <br>
                <li>در این مرحله جگر را به صورت نگینی درشت خرد می کنیم، سپس جگر سفید را به همراه دل همانند جگر به صورت نگینی درشت خرد می کنیم. در ادامه پوست پیاز را جدا می کنیم، سپس به صورت نگینی ریز خرد می کنیم</li>
                <br>
                <li>حالا یک تابه مناسب روی حرارت ملایم قرار می دهیم، سپس مقداری روغن مایع درون آن می ریزیم. در ادامه بلافاصله پیاز خرد شده را به تابه اضافه می کنیم و چند دقیقه تفت می دهیم تا پیاز سبک و شیشه ای شود.</li>
                <br>
                <li>در این مرحله مقداری زردچوبه به پیاز اضافه می کنیم و به تفت دادن ادامه می دهیم تا بوی خامی زردچوبه از بین برود. در ادامه دل را به همراه جگر و جگر سفید درون تابه می ریزیم، سپس تفت می دهیم تا تغییر رنگ بدهند.</li>
                <br>
                <li>حالا رب گوجه فرنگی را به مخلوط دل و جگر اضافه می کنیم، سپس به تفت دادن ادامه می دهیم تا بوی خامی رب گرفته شده و رنگ آن باز شود. در ادامه گوجه فرنگی را می شوییم، سپس پوست آن را جدا می کنیم.</li>
                <br>
                <li>حالا روی واویشکای دل و جگر حدود ۱ تا ۲ لیوان آب می ریزیم، سپس حرارت را زیاد می کنیم تا جوش بیاید. در ادامه زمانی که آب جوش آمد حرارت را کم می کنیم، سپس اجازه می دهیم دل و جگر به صورت کامل بپزد.</li>
                <br>
                <li>در نهایت زمانی که آب واویشکای دل و جگر کاملا تبخیر شد، حرارت را خاموش می کنیم، سپس درون ظرف مورد نظرمان می ریزیم.</li>
            </ol>
                <h1> ویدیو طرز تهیه </h1>
                <video src="../../../static/film/جغول مغول.mp4" width="600px" height="600px" controls></video>
            <div id="d1">
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'ورقه' %}">
                    <img src="../../../static/aks/ورقه.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ورقه</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'میرزا قاسمی' %}">
                    <img src="../../../static/aks/میرزا قاسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه میرزا قاسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'کال کباب' %}">
                    <img src="../../../static/aks/کال کباب.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه کال کباب</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>