<html>
    <head>
        <title>رشته خشکار</title>
        <link rel="stylesheet" href="../../../static/css/رشته خشکار.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d1">
                <h1>به گیلانی فوودز خوش آمدید</h1>
            </div>
            <h1>گیلانی فوودز معدن غذاهای گیلانی</h1>
        </header>
        <nav>
            <fieldset>
                <legend><h1>راهنما</h1></legend>
                <a href="#q" class="v">تاریخچه</a>
                <br>
                <a href="#qq"  class="v">مواد لازم</a>
                <br>
                <a href="#qqq"  class="v">طرز تهیه</a>
                <br>
            </fieldset>
        </nav>
        <br>
        <article>
            <h1>رشته خشکار</h1>
            <img src="../../../static/aks/رشته خشکار.jpg" alt="عکس رشته خشکار" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>رشته خوشکار یکی از انواع شیرینی های خوشمزه ایرانی است که اصالت آن متعلق به شهر گیلان می باشد. این شیرینی را می توانید به صورت نیمه آماده درست کنید و هر زمان که دوست داشتید سرخ کنید.</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>آرد گندم</li>
                <li>آرد برنج</li>
                <li>آب</li>
                <li>پودر قند</li>
                <li>پودر گردو</li>
                <li>پودر دارچین</li>
                <li>پودر هل</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای تهیه رشته خوشکار ابتدا آرد برنج و آرد گندم را داخل یک ظرف مناسب مخلوط می کنیم تا کاملا یکدست شوند، سپس آب را اضافه می کنیم و با همزن دستی یا دور کند همزن مخلوط می کنیم تا مایه یکدستی با غلظت دوغ به وجود بیاید.</li>
                <br>
                <li>برای تهیه این شیرینی به قیف مخصوص نیاز است که احتمالا کمتر کسی این قیف را در خانه دارد. برای درست کردن قیف رشته خوشکار درب یک بطری آب معدنی را با میخ داغ سوراخ کنید و درون هر سوراخ یک نی نوشابه برش خورده قرار دهید.</li>
                <br>
                <li>برای اینکه رشته ها یکدست در بیاید حتما ۴ سوراخ در کنار هم در یک خط ایجاد کنید. حالا مایه رشته خوشکار را داخل بطری می ریزیم و یک تابه بزرگ و جادار روی حرارت قرار می دهیم و با مقدار خیلی کمی روغن آنرا چرب می کنیم.</li>
                <br>
                <li>حالا با قیف با سرعت زیاد به صورت رفت و برگشتی مقداری از مایه شیرینی را روی تابه می ریزیم و چند ثانیه صبر می کنیم تا خودش را بگیرد، سپس آنرا به سرعت با دست جمع می کنیم و روی یک دستمال تمیز قرار می دهیم.</li>
                <br>
                <li>به همین ترتیب تمام مواد را به رشته خوشکار تبدیل می کنیم و کنار می گذاریم. حالا پودر قند، پودر دارچین، پودر هل و پودر گردو را برای مواد میانی شیرینی با هم مخلوط می کنیم، سپس هر خمیر را از دو طرف تا کرده و مقداری از مواد میانی داخلش قرار می دهیم.</li>
                <br>
                <li>حالا خمیر را روی مواد میانی تا می کنیم و انتهای آنرا با آب کمی خیس می کنیم تا به هم بچسبد. حالا داخل یک تابه مناسب روغن می ریزم و شیرینی ها را سرخ می کنیم، زمانی که طلایی شدند از روغن خارج می کنیم و در شربت بار قرار می دهیم.</li>
                <br>
                <li>پس از گذشت ۲ دقیقه شیرینی ها را داخل توری فلزی قرار می دهیم تا شربت اضافی شان خارج شود. اگر هم دوست ندارید شیرینی ها خیلی خیس و شیرین شود، می توانید با قلمو کمی شربت بار روی شیرینی ها بمالید.</li>
                <br>
                <li>در آخر شیرینی ها را در ظرف مورد نظرمان می چینیم و با خلال پسته تزیین می کنیم. </li>
            </ol>
            <br>
            <h1>ویدئو طرز تهیه</h1>
            <video src="../../../static/film/رشته خشکار.mp4" alt="ویدئو طرز تهیه رشته خشکار" controls width="600px" height="600px"></video>
            <br>
            <div id="d2">
                <h1>تره نوش جان</h1>
            </div>
            <br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'ترش کباب' %}">
                    <img src="../../../static/aks/ترش کباب.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ترش کباب</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'انار بیج' %}">
                    <img src="../../../static/aks/اناربیج.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اناربیج</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>