<html>
    <head>
        <title>سیر قلیه</title>
        <link rel="stylesheet" href="../../../static/css/سیر قیله.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
              <h1>به گیلان فود خوش آمدید</h1>
          </div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <nav class="m">
            <fieldset>
              <legend>راهنما</legend>
              <a href="#o" class="h">تاریخچه</a>
            <br>
            <a href="#i" class="h">مواد لازم</a>
            <br>
            <a href="#j" class="h">طرز تهیه</a>
            </fieldset>
        </nav>
        <br>
        <article class="m">
          <h1>سیر قلیه</h1>
          <img src="../../../static/aks/سیر قلیه.jpg" alt="عکس سیر قلیه" width="600px" height="600px">
          <br>
          <h1 id="o">تاریخچه</h1>
          <p>
            سیر قلیه یکی از انواع غذاهای خوشمزه و سنتی ایرانی است که اصالت ان متعلق به شمال کشور می باشد.
            <br>
            <q>سیر قلیه یکی از غذا‌های محلی پرطرفدار در استان گیلان است. مواد سیر قلیه را مرغابی یا مرغ یا اردک ، برگ سیر، تخم مرغ، لپه، آب نارنج یا آبلیمو و نمک و فلفل تشکیل می‌دهد. در این خورشت برگ سیر تازه مصرف می‌شود و بیشتر در هوای سرد و در فصل زمستان و پاییز طبخ می‌شود.</q> 
          </p>
          <br>
          <h1 id="i">مواد لازم</h1>
          <ul align="right">
            <li>مرغ یا اردک<q>ترجیح داده میشود محلی باشد</q></li>
            <li>لپه</li>
            <li>برگ سیر</li>
            <li>آب نارنج</li>
            <li>تخم مرغ</li>
            <li>نمک و فلفل سیاه</li>
            <li>زردچوبه و روغن</li>
          </ul>
          <br>
          <h1 id="j">طرز تهیه</h1>
          <ol> 
            <li>ابتدا سیر را پاک کنید و برگ های آن را جدا کنید و ریز خرد کنید و چندین بار بشورید تا تمیز شود سپس آبکشی کنید کمی که خشک شد داخل تابه با مقداری روغن برگ های سیر را سرخ کنید تا رنگ آن تغییر کند.</li>
            <br> 
            <li>لپه را از چند ساعت قبل خیس کنید سپس آن را جداگانه نیم پز کنید و کف رویش را بگیرید این کار باعث می شود بوی نامطبوع لپه از بین برود.</li> 
            <br>
            <li>داخل ظرف مورد نظر کمی روغن ریخته تا داغ شود سپس مرغ را افزوده و کمی سرخ می کنیم تا تغییر رنگ دهد سپس برگ های سیر سرخ شده را همراه با نمک و فلفل و زردچوبه به آن اضافه کرده و هم بزنید در انتها ۲ لیوان آبجوش ریخته تا روی مرغ ها را بگیرید سپس اجازه دهید تا مرغ پخته شود.</li> 
            <br>
            <li>بعد از گذشت ۱ ساعت از زمان پخت مرغ لپه های نیم پز شده را به مرغ اضافه می کنیم و درب قابلمه را بگذارید تا لپه ها با مرغ نیز پخته شود.</li> 
            <br>
            <li>بعد از پخت لپه و مرغ نوبت اضافه کردن تخم مرغ است. تخم مرغ ها را می توانید مستقیم داخل سیر قلیه بشکنید یا در ظرفی جداگانه تخم مرغ را هم بزنید و به خورش سیر قلیه اضافه کنید و هم بزنید هر کدام روش را بنا به سلیقه و ذائقه خود انجام دهید سپس اجازه دهید تا تخم مرغ ها پخته شوند بعد از اینکه تخم مرغ ها سفت شدند از روی حرارت بر می داریم در ظرف سرو ریخته یا با همان ظرف سرو کنید.</li> 
          </ol>
            <video src="../../../static/film/سیر قلیه.mp4" width="600px" height="600px" controls></video>
          <div id="d1">
            <h1>تره نوش جان</h1>
        </div>
        <br><br>
        <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
          <hr>
          <li align="center">
              <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
          </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                  <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                  <br>
                  <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                  <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                  <br>
                  <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'سیرواویج' %}">
                  <img src="../../../static/aks/سیرابیج.jpg" alt="" width="25%" height="30%" align="right">
                  <br>
                  <h2 align="right">طرز تهیه سیرواویج</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>