<html>
    <head>
        <title>سیرواویج</title>
        <link rel="stylesheet" href="../../../static/css/سیرواویج.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d1">
                <h1 >به گیلان فوودز خوش آمدید</h1>
            </div>
            <h1>معدن غذا های گیلانی</h1>
            <br>
            <fieldset>
                <legend>راهنما</legend>
                <nav>
                    <a class="ww" href="#q">تاریخچه</a>
                    <br>
                    <a class="ww" href="#qq">مواد لازم</a>
                    <br>
                    <a class="ww" href="#qqq">طرز تهیه</a>
                </nav>
            </fieldset>
            <br>
            <article>
                <h1>سیرواویج</h1>
                <img src="../../../static/aks/سیرابیج.jpg" alt="عکس سیرواویج" width="600px" height="600px">
                <br>
                <h1 id="q">تاریخچه</h1>
                <p>سیرابیج یک غذای سنتی از خطه شمال ایران است که به ویژه در استان گیلان محبوبیت زیادی دارد. سیرابیج که به زبان محلی گیلانی سیرواویج نامیده می‌شود، خورشی بسیار خوش طعم و مقوی است. این غذا در زمانی که سیر تازه در بازارهای محلی گیلان موجود است، طبخ می‌شود. حبه‌های سیر را در پاییز خرد کنید و در فریزر نگه دارید و با سیر هر چند وقت یکبار این غذای لذیذ را نوش جان کنید. در این بررسی به شما طرز تهیه سیرابیج را آموزش می‌دهیم.</p>
                <br>
                <h1 id="qq">مواد لازم</h1>
                <ul align="right">
                    <li>برگ سیر</li>
                    <li>تخم مرغ</li>
                    <li>نمک، فلفل، زردچوبه</li>
                </ul>
                <br>
                <h1 id="qqq">طرز تهیه</h1>
                <ol align="right">
                    <li>برای تهیه سیرواویج خوشمزه در ابتدای کار برگ سیر را می شوییم و به اندازه نیم سانتی متر خرد می کنیم. در ادامه یک تابه مناسب روی حرارت ملایم قرار داده، سپس مقداری روغن مایع درون آن می ریزیم.</li>
                    <br>
                    <li>حالا برگ سیر را به همراه مقداری نمک و زردچوبه به تابه اضافه کرده و تفت می دهیم تا برگ سیر سرخ شده و حجم شان کم شود. توجه داشته باشید بیش از حد سرخ کردن برگ ها باعث خشک شدن آنها می شود.</li>
                    <br>
                    <li>در ادامه تخم مرغ ها را درون یک کاسه اضافه می کنیم و مقداری نمک، زردچوبه و فلفل سیاه با کاسه اضافه کرده، سپس با کمک چنگال هم می زنیم تا بافت تخم مرغ ها از لختگی خارج شود.</li>
                    <br>
                    <li>زمانی که برگ های سیر تغییر رنگ دادند، تخم مرغ را به تابه می افزاییم و بلافاصله مخلوط می کنیم تا یکدست شوند، سپس درب تابه را بسته و اجازه می دهیم تخم مرغ کاملا پخته و سفت شود.</li>
                    <br>
                    <li>زمانی که تخم مرغ پخت و سفت شد، تابه را از روی حرارت کنار می گذاریم و سیرواویج را درون ظرف مورد نظرمان می ریزیم. در نهایت سیرواویج را به همراه ماست و کته سرو می کنیم.</li>
                    <br>
                </ol>
                <br>
                <h1>ویدیو طرز تهیه</h1>
                <video src="../../../static/film/سیرابیج.mp4" alt="فیلم سیرواویج" width="600px" height="600px" controls></video>
                <br>
                <div id="d2"><h1>تره نوش جان</h1></div>
                <br><br>
                <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                    <hr>
                    <li align="center">
                        <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                    </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'کویی تره' %}">
                    <img src="../../../static/aks/کویی تره.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه کویی تره</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'ورقه' %}">
                    <img src="../../../static/aks/ورقه.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه ورقه</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'پامدور خورشت' %}">
                    <img src="../../../static/aks/پامدور خوررشت.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه پامدور خورشت</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
            </article>
        </header>
    </body>
</html>