<html>
    <head>
        <title>شوید خلی</title>
        <link rel="stylesheet" href="../../../static/css/شوید خلی.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d1"><h1>به گیلانی فودز خوش آمدید</h1></div>
            <h1>معدن غذا های گیلانی</h1>
        </header>       
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="f" href="#q">تاریخچه</a>
                <br>
                <a class="f" href="#qq">مواد لازم</a>
                <br>
                <a class="f" href="#qqq">طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <article>
            <h1>شوید خلی</h1>
            <img src="../../../static/aks/شوید خلی.jpg" alt="عکس شوید خلی" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>غذاهای سنتی نشان دهنده فرهنگ و آداب و رسوم خاص هر منطقه‌ای هستند. خطه شمال ایران با نعمت‌های فراوان دارای متنوع‌ترین و بیش‌ترین نوع غذاست که بسیار خوشمزه، پر طرفدار و مقوی هستند. شوید خولی یکی از خورشت‌های بسیار خوشمزه و مشهور گیلانی است که از ترکیب مرغ با شوید، آلو، رب آلوچه و تخم مرغ تهیه می‌شود و در کنار برنج سرو می‌شود. این غذای بسیار خوشمزه و مقوی دستور پخت آسانی دارد</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>مرغ</li>
                <li>رب گوجه فرنگی</li>
                <li>رب آلوچه یا رب انار ترش</li>
                <li>آلو خورشتی</li>
                <li>تخم مرغ</li>
                <li>پیاز</li>
                <li>سیر</li>
                <li>آب جوش</li>
                <li>نمک، فلفل و زردچوبه</li>
                <li>روغن</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای شروع کار ابتدا تکه‌های مرغ را داخل ماهی تابه کمی با روغن سرخ کنید؛ سپس پیاز را خرد کنید و داخل روغن مرغ تفت بدهید و نمک، فلفل و زردچوبه بزنید.حالا رب گوجه فرنگی و رب آلوچه را اضافه کنید و یک دقیقه دیگر تفت بدهید. </li>
                <br>
                <li>آلو بخارا را که از قبل خیس داده و خوب شسته‌اید، به ماهی تابه اضافه کنید و آب جوش بریزید. حالا درب ماهی تابه را بگذارید و حرارت را کم کنید تا مرغ بپزد و لعاب بیندازد.</li>
                <br>
                <li>داخل یک ماهی تابه دیگر کمی روغن بریزید و شوید خشک را به آن اضافه کنید و اجازه بدهید 1 دقیقه داخل روغن تفت بخورد.</li>
                <br>
                <li>حالا سیر رنده شده را اضافه کنید و سی ثانیه بعد تخم مرغ را داخل شوید بریزید و خوب هم بزنید و یک دقیقه بعد اجاق گاز را خاموش کنید.</li>
                <br>
                <li>وقتی مرغ کاملا پخت، ترکیب شوید و سیر و تخم مرغ را به ماهی تابه مرغ اضافه کنید و دوباره درب ماهی تابه را ببنیدید و نیم ساعت دیگر زمان بدهید تا مرغ حسابی جا افتاده و غلیظ شود. شوید خولی خوشمزه شما در این مرحله آماده سرو است که می‌توانید آن را با کته زعفرانی میل کنید.</li>
                <br>
            </ol>
            <br>
            <h1>فیلم طرز تهیه</h1>
            <video src="../../../static/film/شوید خلی.mp4" width="600px" height="600px" controls></video>
            <br>
            <br>
            <div id="d2"><h2>تره نوش جان</h2></div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'سیر قلیه' %}">
                    <img src="../../../static/aks/سیر قلیه.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه سیر قلیه</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'ترش واش' %}">
                    <img src="../../../static/aks/ترش واش.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ترش واش </h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>