<html>
    <head>
        <title>فسنجون</title>
        <link rel="stylesheet" href="../../../static/css/فسنجون.css">
    </head>
    <body dir="rtl" align="center">
        <header>
        <div id="d2">
            <h1>به گیلان فود خوش آمدید</h1>
        </div>
        <h1>معدن غذاهای گیلانی</h1>
        </header>
        <nav class="n">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#1" id="o">تاریخچه</a>
            <br>
            <a href="#2" id="o">مواد لازم</a>
            <br>
            <a href="#3" id="o">طرز تهیه</a>
            </fieldset>
        </nav>
        <br>
        <article class="n">
            <h1>فسنجون</h1>
            <img src="../../../static/aks/فسنجون1.jpg" alt="عکس فسنجون" width="600px" height="600px">
            <h1 id="1">تاریخچه</h1>
            <p>.فسنجان اردک یکی از انواع خورش های سنتی و خوشمزه شمال کشور است که با دستورهای متنوعی تهیه می شود
                <br>
                <q>به این خورشت در زبان گیلکی آغوز خوروش گفته می‌شود. آغوز در زبان گیلکی به معنی مغز گردو است. در گیلان از گذشته مهم بوده که رنگ فسنجان کاملاً مشکی باشد؛ ولی در نواحی دیگر کشور از جمله خراسان گاهی حتی جدای از مواد اولیهٔ فسنجان کمی رب می‌ریزند و رنگ خورش خیلی سیاه است.گاهی اوقات که فسنجون کاملا سیاه نشده از یک وسیله ی آهنی که به زبان گیلکی به آن کچه می گویند که شبیه کف گیر است استفاده می شود.</q>
            </p>
            <br>
            <h1 id="2">مواد لازم</h1>
            <ul align="right">
                <li>اردک</li>
                <li>گردو</li>
                <li>رب انار</li>
                <li>نمک و فلفل سیاه</li>
            </ul>
            <br>
            <h1 id="3">طرز تهیه</h1>
            <ol>
                <li>برای تهیه خورش فسنجان با اردک ابتدا اردک را به خوبی می شوییم و کنار می گذاریم تا آب اضافی اش خارج شود. در ادامه مغر گردو را درون میکسر یا غذاساز می ریزیم و به طور کامل میکس می کنیم تا حالت خمیری پیدا کند.</li>
                <br>
                <li>پس از اینکه خامی زردچوبه گرفته شد، گردوی میکس شده را به قابلمه افزوده و به آرامی تفت می دهیم. پس از ۲ دقیقه ۶ لیوان آب سرد به قابلمه اضافه کرده و اجازه می دهیم گردو شروع به روغن انداختن کند.</li>
                <br>
                <li>  به قابلمه اضافه می کنیم. حالا حرارت زیر قابلمه را کم می کنیم تا اردک به مدت دو تا چهار ساعت بپزد.</li>
                <br>
                <li>پس از گذشت این زمان رب انار  را اضافه کرده و اجازه می دهیم خورش جا بیفتد. در نهایت پس از اینکه اردک کاملا مغز پخت شد، خورش را در درون ظرف مورد نظرمان می کشیم و به همراه برنج سرو می کنیم.</li>
            </ol>
                <video src="../../../static/film/فسنجون.mp4" width="600px" height="600px" controls></video>
            <div id="d1">
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'رشته خشکار' %}">
                    <img src="../../../static/aks/رشته خشکار.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه رشته خشکار</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'جوکوله' %}">
                    <img src="../../../static/aks/جوکوله.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه جوکوله</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'ترش تره' %}">
                    <img src="../../../static/aks/ترش-تره-گیلانی.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه ترش تره</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>