<html>
    <head>
        <title>
            میرزاقاسمی
        </title>
        <link rel="stylesheet" href="../../../static/css/میرزاقاسمی.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غدا های گیلانی</h1>
        </header>
        <nav class="man">
            <fieldset>
                <legend>راهنما</legend>
                <a href="#1" class="p">تاریخجه</a>
                <br>
                <a href="#2" class="p">مواد لازم</a>
                <br>
                <a href="#3" class="p">طرز تهیه</a>
            </fieldset>
        </nav>
        <article class="man">
            <h1>میرزاقاسمی</h1>
            <img src="../../../static/aks/میرزا قاسمی.jpg" alt="عکس میرزاقاسمی" width="600px" height="600px">
            <h1>تاریخچه</h1>
            <p id="1">
                <br>
                میرزا قاسمی یکی از غذاهای اصیل و بسیار محبوب استان گیلان است که به دلیل طعم خوشمزه و خاصی که به خاطر بادمجان کباب شده دارد در تمام شهرهای ایران از محبوبیت بالایی برخوردار است.
                <br>
                <q>قاسم خان والی ذوق آشپزی داشت و غذایی که امروز به میرزاقاسمی معروف است، از ابداعات اوست که به نام وی نیز نام‌گذاری شده‌است. او این غذا را پس از بازگشت از سن پترزبورگ در سال ۱۸۶۰ میلادی و به هنگام حکومتش در رشت مرسوم کرد</q>
            </p>

                <h1 id="2">مواد لازم</h1>
                <ul align="right">
                    <li>بادمجان</li>
                    <li>گوجه فرنگی<q>در صورت نداشتن گوجه فرنگی ار رب گوجه استفاده میکنیم</q></li>
                    <li>تخم مرغ<q>اختیاری</q></li>
                    <li>سیر</li>
                    <li>روغن و زردچوبه</li>
                    <li>نمک و فلفل سیاه</li>
                </ul>

            <h1 id="3">طرز تهیه</h1>
            <ol>
                <li>برای تهیه میرزا قاسمی مجلسی ابتدا باید بادمجان ها را کباب کنیم ، برای این منظور می توانیم از شعله اجاق گاز یا منقل زغال استفاده کنیم. باید بادمجان ها را به خوبی کباب کنیم به حدی که پوست بادمجان ها به طور کامل بسوزد.</li>
                <br>
                <li>البته اگر طعم دودی بادمجان کبابی را دوست ندارید می توانید بادمجان ها را به صورت آبپز بپزید. پس از اینکه کباب کردن بادمجان ها به پایان رسید اجازه می دهیم کمی سرد شوند سپسپ پوست شان را به آرامی جدا می کنیم.

                </li>
                <br>
                <li>بادمجان ها را پس از اینکه پوست گرفتیم در یک کاسه بزرگ می ریزیم سپس آنها را با گوشتکوب به طور کامل له می کنیم تا بافت شان از هم جدا شود. در ادامه بادمجان ها را کنار می گذاریم و گوجه فرنگی ها را اماده می کنیم.</li>
                <br>
                <li>گوجه فرنگی ها را به مدت ۵ دقیقه در یک قابلمه حاوی آب جوش قرار می دهیم تا پوست شان به راحتی جدا شود. پس از گذشت ۵ دقیقه گوجه فرنگی ها را از آب جوش خارج می کنیم و پس از اینکه کمی سرد شدند پوستا شان را به راحتی جدا می کنیم.</li>
                <br>
                <li>یک تابه مناسب روی حرارت قرار می دهیم و مقداری روغن اضافه می کنیم. در ادامه سیرها را رنده می کنیم و در روغن کمی تفت می دهیم تا نرم و سبک شوند ، در ادامه مقداری زردچوبه به سیر اضافه می کنیم و خوب تفت می دهیم تا سیر با زردچوبه یکدست شود.</li>
                <br>
                <li>در این مرحله بادمجان ها را اضافه می کنیم و حدود ۲۰ دقیقه تفت می دهیم ، سپس گوجه فرنگی ها را به صورت خیلی ریز یا رنده شده به تابه اضافه می کنیم و خوب تفت می دهیم تا آب اضافی گوجه فرنگی ها تبخیر شود و میرزا قاسمی به روغن بیفتد.</li>
                <br>
                <li>اضافه کردن رب گوجه فرنگی به میرزا قاسمی اختیاری است اما اگر می خواهید میرزا قاسمی طعم و رنگ بهتری داشته باشد می توانید ۱ قاشق غذاخوری رب گوجه فرنگی نیز در این مرحله به میرزا قاسمی اضافه کنید. رب گوجه فرنگی را خوب تفت دهید تا کاملا سرخ شود.</li>
                <br>
                <li>در این مرحله مواد میرزا قاسمی را یک سمت تابه جمع می کنیم سپس تخم مرغ ها را در قسمت خالی تابه می شکنیم و پس از اینکه به خوبی پختند با دیگر مواد میرزا قاسمی مخلوط می کنیم تا کاملا با دیگر مواد یکدست شوند.</li>
                <br>
                <li>در آخر نمک و فلفل سیاه میرزا قاسمی را اندازه کنید و اجازه دهید کمی جا بیفتد. برای تزیین میرزا قاسمی می توانید یک عدد تخم مرغ را در یک تابه جداگانه در یک قالب گرد بپزید سپس بعد از اینکه میرزا قاسمی را در بشقاب کشیدید تخم مرغ نیمرو شده را روی میرزا قاسمی قرار دهید.</li>
            </ol>
                <video src="../../../static/film/mirza.mp4" width="600px" height="600px" controls></video>
            <div id="d1">
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'ورقه' %}">
                    <img src="../../../static/aks/ورقه.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه ورقه</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'شوید خلی' %}">
                    <img src="../../../static/aks/شوید خلی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه شوید خلی</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>