<html>
    <head>.
        <title>ورقه</title>
        <link rel="stylesheet" href="../../../static/css/ورقه.css">
    </head>
    <body dir="rtl" align="center">
        <header>
            <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="c" href="#q">تاریخچه</a>
                <br>
                <a class="c" href="#qq">مواد لازم</a>
                <br>
                <a class="c" href="#qqq">طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <article>
            <h1>ورقه</h1>
            <img src="../../../static/aks/ورقه.jpg" alt="عکس ورقه">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>ورقه بادمجان یک غذای گیلانی است که با وجود بادمجان و گوجه، در کنار سیر، طعم و بوی فوق العاده ای دارد و در کنار کته شمالی می تواند غذای بسیار لذیذی بوجود آورد. این غذا از خانواده املت و کوکو است و طعم بسیار خوبی دارد. از آن جا که بادمجان ها هنگام سرخ کردن روغن زیادی مصرف می کند، این غذا را نمی توان به عنوان غذای رژیمی مصرف کرد مگر این که بادمجان ها را همراه با روغن زیتون درون فر برشته کنید.</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>بادمجان</li>
                <li>تخم مرغ</li>
                <li>سیر</li>
                <li>گوجه</li>
                <li>نمک و فلفل سیاه</li>
                <li>زردچوبه و روغن</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای تهیه ورقه بادمجان خوشمزه و مخصوص به روش گیلانی در ابتدای کار، بادمجان ها را شسته و پوست می کنیم و حلقه حلقه کرده درون آب نمک به مدت نیم ساعت خیس می کنیم تا تلخی آن گرفته شود.</li>
                <br>
                <li>سپس در روغن کافی در یک ماهی تابه آن را سرخ می کنیم و کنار می گذاریم. یک ماهی تابه برداشته و با کمی روغن روی حرارت قرار می دهیم. سیر های له شده را به آن اضاقه کرده و کمی تفت می دهیم.</li>
                <br>
                <li>زردچوبه را اضافه کرده کمی تفت می دهیم تا رنگ آن باز شود. گوجه ها را حلقه کرده و داخل سیر ها قرار می دهیم و با شعله کم می گذاریم تفت بخورد و نرم شود. نمک و فلفل را اضافه کرده کمی مخلوط می کنیم.</li>
                <br>
                <li>سپس مواد را روی بادمجان های سرخ شده درون ماهی تابه دیگر می ریزیم. در یک کاسه تخم مرغ ها را با کمی فلفل و نمک هم می زنیم تا از لختگی خارج شود. سپس روی گوجه و بادمجان می ریزیم و درب ماهی تابه را می بندیم.</li>
                <br>
                <li>حالا با شعله کم اجازه می دهیم تا تخم مرغ ها سفت شود. مواد را به صورتی که تخم مرغ رو قرار گیرد درون ظرف سرو می ریزیم و با کمی جعفری تازه آن را تزیین می کنیم. این غذا را می توان با نان سرو نمود یا در کنار برنج میل کرد.</li>
                <br>
            </ol>
            <br>
            <h1>ویدیو طرز تهیه</h1>
            <video src="../../../static/film/ورقه.mp4" alt="فیلم طرز تهیه ورقه" width="600px" height="600px" controls></video>
            <br>
            <div id="d1"><h1>تره نوش جان</h1></div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'الو مسما' %}">
                    <img src="../../../static/aks/الو مسمی.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه آلو مسمی</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'جغول مغول' %}">
                    <img src="../../../static/aks/جقول.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه جقول مقول</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'سیر قلیه' %}">
                    <img src="../../../static/aks/سیر قلیه.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه سیر قلیه</h2>
                </a>
            </div>
        </article>
    </body>
</html>