<html>
    <head>
        <title>پامدور خورشت</title>
    </head>
    <body dir="rtl" align="center">
        <link rel="stylesheet" href="../../../static/css/پامدور خورشت.css">
        <header>
            <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
            <h1>معدن غذا های گیلانی</h1>
        </header>
        <fieldset>
            <legend>راهنما</legend>
            <nav>
                <a class="l" href="#q">تاریخچه</a>
                <br>
                <a class="l" href="#qq">مواد لازم</a>
                <br>
                <a class="l" href="#qqq">طرز تهیه</a>
                <br>
            </nav>
        </fieldset>
        <br>
        <br>
        <article>
           <h1>پامدور خورشت</h1>
           <img src="../../../static/aks/پامدور خوررشت.jpg" alt="عکس پامدور خورشت" width="600px" height="600px">
           <br>
           <h1 id="q">تاریخچه</h1>
           <p>پامدور خورش یا پامادور قاتوق، یک غذای محلی گیلانی است. این خورش خیلی خوشمزه بوده و یکی از ویژگی‌های خاص آن این است که خیلی سریع و در مدت‌زمان کمی آماده می‌شود.</p>
           <br>
           <h1 id="qq">مواد لازم</h1>
           <ul align="right">
            <li>گوجه فرنگی یا همان پامادور</li>
            <li>سیر</li>
            <li>تخم مرغ</li>
            <li>کره</li>
            <li>نمک. فلفل.زرد چوبه</li>
           </ul>
           <br>
           <h1 id="qqq">طرز تهیه</h1>
           <ol align="right">
            <li>برای تهیه پامادور خورشت خوشمزه در ابتدای کار سیرها را با دندانه های ریز رنده، رنده می کنیم. در ادامه یک قابلمه مناسب برداشته و مقداری آب درون آن می ریزیم، سپس روی حرارت زیاد قرار می دهیم تا آب به نقطه جوش برسد.</li>
            <br>
            <li>هنگامی که آب درون قابلمه به جوش آمد، گوجه فرنگی ها را درون قابلمه ریخته و اجازه می دهیم به مدت ۱ دقیقه درون آب جوش بمانند. پس از گذشت این زمان گوجه فرنگی ها را از قابلمه خارج کرده و بلافاصله درون کاسه حاوی آب سرد می ریزیم.</li>
            <br>
            <li>با این کار به گوجه ها شوک وارد شده و باعث می شود که پوست آنها به راحتی جدا شود. حالا درون یک تابه مناسب مقداری روغن مایع ریخته و روی حرارت ملایم قرار می دهیم تا گرم شود، سپس سیر را درون تابه ریخته و کمی تفت می دهیم.</li>
            <br>
            <li>زمانی که عطر سیر آزاد شد، مقداری زردچوبه به تابه اضافه کرده و به تفت دادن ادامه می دهیم تا بوی خامی زردچوبه از بین برود. حالا پوست گوجه فرنگی ها را به راحتی جدا کرده و به صورت نگینی ریز خرد می کنیم، سپس درون یک ظرف مناسب می ریزیم.</li>
            <br>
            <li>حالا تخم مرغ ها را درون یک کاسه مناسب ریخته و با چنگال به خوبی هم می زنیم تا بافت آنها از لختگی خارج شود، سپس به تابه اضافه کرده و به خوبی مخلوط می کنیم تا تخم مرغ کاملا پخته شود، بعد از تابه خارج می کنیم.</li>
            <br>
            <li>در این مرحله گوجه فرنگی خرد شده را به همان تابه اضافه کرده و اجازه می دهیم آب اضافی آن به طور کامل کشیده شود. زمانی که آب اضافی گوجه فرنگی تبخیر شد، مقداری روغن مایع به تابه اضافه می کنیم.</li>
            <br>
            <li>حالا مقداری نمک و فلفل سیاه به تابه اضافه کرده و به خوبی تفت می دهیم تا گوجه فرنگی سرخ شده و به روغن بیفتد. زمانی که گوجه فرنگی به خوبی سرخ شد، تخم مرغ را به تابه اضافه کرده و به خوبی مخلوط می کنیم.</li>
            <br>
            <li>حالا اجازه می دهیم پامادور خورشت به مدت ۱۰ دقیقه بپزد، سپس تابه را از روی حرارت برداشته و درون ظرف مورد نظرمان می ریزیم. در نهایت خورشت را به دلخواه با برگ ریحان تازه تزیین کرده و به همراه نان یا برنج سرو می کنیم.</li>
            <br>
           </ol>
           <br>
           <h1>فیلم طرز تهیه</h1>
           <video src="../../../static/film/پامدور خورشت.mp4" alt="فیلم پامدور خورشت" width="600px" height="600px" controls></video>
           <br>
           <br>
           <div id="d2"><h1>تره نوش جان</h1></div>
           <br><br>
           <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
            <hr>
            <li align="center">
                <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
            </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'ترش واش' %}">
                    <img src="../../../static/aks/ترش واش.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه ترش واش</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'بادمجان شکم پر' %}">
                    <img src="../../../static/aks/بادمجان شکم پر.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه بادمجان شکم پر</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'اردک واویشکا' %}">
                    <img src="../../../static/aks/اردک واویشکا.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">اردک واویشکا</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>