<html>
    <head>
        <title>کال کباب</title>
        <link rel="stylesheet" href="../../../static/css/کال کباب.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="d2">
                <h1>به گیلان فود خوش آمدید</h1>
            </div>
            <h1>معدن غدا های گیلانی</h1>
        </header>
        <nav class="m">
            <fieldset>
                <legend>راهنما</legend>
            <a href="#art" class="q">تاریخچه</a>
            <br>
            <a href="#mar" class="q">مواد لازم</a>
            <br>
            <a href="#yar" class="q">طرز تهیه</a>
            </fieldset>
        </nav>
        <br>
        <article class="m">
            <h1>کال کباب</h1>
            <img src="../../../static/aks/کال کباب.jpg" alt="عکس کال کباب" width="600px" height="600px">
            <h1 id="art">تاریخچه</h1>
            <p>
                کال کباب یکی از انواع غذاهای معروف و بسیار خوشمزه شمالی است که با بادمجان تهیه می شود. طعم این غذا به دلیل دودی بودن بادمجان شباهت‌هایی به میرزا قاسمی دارد.اما میرزا قاسمی نیست.
                <br>
                <q>طرز تهیه کال کباب گیلانی و اصیل کمی وقت‌گیر است.کال کباب را به عنوان مزه یا چاشنی در کنار دیگر غذاهای شمالی مانند ماهی شکم پر، باقلا قاتق، چغرتمه، کباب ترش و ... میل می‌کنند.</q>
            </p>
            <br>
            <h1 id="mar">مواد لازم</h1>

            <ul align="right">
                <li>بادمجان</li>
                <li>گردو</li>
                <li>سیر</li>
                <li>آب انار<q>در صورت نداشتن اب انار اب غوره </q></li>
                <li>نعناع تازه</li>
                <li>چوچاق (اختیاری)</li>
                <li>نمک و فلفل سیاه</li>
            </ul>
            <br>
            <h1 id="yar">طرز تهیه</h1>
            <ol>
                <li>ابتدا بادمجان را با پوست روی منقل ذغال یا حرارت شعله گاز قرار می دهیم تا کبابی شوند. اگر دوست ندارید بادمجان ها مانند میرزا قاسمی طعم دودی داشته باشند حتما بادمجان ها را در فر کباب کنید، زیرا با این کار بادمجان ها طعم دودی نمی گیرند.</li>
                <br>
                <li>برای کباب کردن بادمجان‌ها می‌توانیم از اجاق گاز هم استفاده کنیم و نکته دیگر اینکه در زمان کباب کردن حتما باید پوست بادمجان‌ها روی آنها باشد، وگرنه طعم دودی نمیگیرند.</li>
                <br>
                <li>پس از اینکه بادمجان ها را کباب کردیم صبر می کنیم تا کمی خنک شوند، سپس آنها را به آرامی پوست می گیریم و داخل یک قابلمه جادار و مناسب می ریزیم. در ادامه سیرها را پوست می گیریم و به بادمجان اضافه می کنیم.</li> 
                <br>
                <li>در این مرحله سبزیجات معطر را به صورت ساطوری خرد می کنیم و به همراه مقداری نمک و فلفل سیاه به قابلمه اضافه می کنیم. در آخر گردوهای آسیاب شده را به همراه آبغوره به قابلمه اضافه می کنیم و تمام مواد را میکس می کنیم.</li>
                <br>
                <li>برای میکس کردن مواد می توانیم از گوشتکوب برقی استفاده کنیم یا اینکه تمام مواد را داخل میکسر یا مخلوط کن بریزیم تا کاملا یکدست و شبیه پوره شوند. در صورت تمایل می‌توانیم مقداری آب انار ترش هم به کال کباب اضافه کنیم.</li>
                <br>
                <li>در آخر کال کباب را داخل ظرف مورد نظرمان می کشیم و به سلیقه خود با موادی مثل گلپر، با انار دان شده، مغز گردو و آب انار تزیین می کنیم. این غذای خوشمزه را به همراه نان تازه و سبزی خوردن سرو می‌کنیم.</li>
                <br>
                <li>اگر در خانه آب انار تازه ندارید، نگران نباشید. یکی از بهترین جایگزین‌ها برای آب انار، آبغوره تازه است. اما مهم است که بدانید استفاده از آبلیمو در تهیه این غذا توصیه نمی‌شود و باعث بدطعم شدن کال کباب می‌شود.</li>
            </ol>
            <h1>ویدیو طرز تهیه</h1>
                <video src="../../../static/film/کال کباب.mp4" width="600px" height="600px" controls></video>
            <div id="d1">
                <h1>تره نوش جان</h1>
            </div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'اردک واویشکا' %}">
                    <img src="../../../static/aks/اردک واویشکا.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اردک واویشکا</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'باقالی قاتوق' %}">
                    <img src="../../../static/aks/باقالی قاتوق.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه باقالی قاتوق</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'پامدور خورشت' %}">
                    <img src="../../../static/aks/پامدور خوررشت.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه پامدور خورشت</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>