<html>
    <head>
        <title>کدو تره</title>
        <link rel="stylesheet" href="../../../static/css/کویی تره.css">
    </head>
    <body align="center" dir="rtl">
        <header>
            <div id="s">
                <br>
                <h1>به گیلانی فوودز خوش آمدید</h1>
            </div>
            <h1>گیلانی فوودز معدن غذا های گیلانی</h1>
        </header>
        <br>
        <nav>
            <fieldset>
            <legend><h1>راهنما</h1></legend>
            <a href="#q" class="g">تاریخچه</a>
            <br>
            <a href="#qq" class="g">مواد لازم</a>
            <br>
            <a href="#qqq" class="g">طرز تهیه</a>
            </fieldset>
        </nav>
        <br>
        <article>
            <h1>کویی تره(کدو تره)</h1>
            <img src="../../../static/aks/کویی تره.jpg" alt="عکس کویی تره" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>کویی تره، کدو تره یا همان خورش کدو فسنجان گیلانی یکی از غذاهای متفاوت و خلاقانه استان گیلان است که مانند دیگر غذاهای این دیار طعم و مزه‌ای لذیذ و جذاب دارد. کویی در زبان محلی گیلان به معنای کدو حلوایی است و همانطور که از نام این غذا مشخص است، در طرز تهیه کویی تره از مقداری کدو حلوایی استفاده می‌شود.
            </p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>کدو حلوایی</li>
                <li>مغز گردو</li>
                <li>پیاز</li>
                <li>سبزی معطر (چوچاق،نعنا،پونه)</li>
                <li>رب انار ترش</li>
                <li>آب</li>
                <li>نمک، زردچوبه، فلفل سیاه و گلپر</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای تهیه کویی تره خوشمزه ابتدا کدو حلوایی را می شوییم، سپس پوست آن را جدا می کنیم و به صورت مکعبی متوسط خرد می کنیم. در ادامه پوست پیاز را جدا می کنیم، سپس می شوییم و به صورت نگینی درشت خرد می کنیم.</li>
                <br>
                <li>حالا یک قابلمه مناسب روی حرارت ملایم قرار می دهیم، سپس مقداری روغن درون قابلمه می ریزیم و بلافاصله پیاز را اضافه می کنیم و تفت می دهیم. در ادامه کدو حلوایی خرد شده را درون قابلمه می ریزیم و مخلوط می کنیم.</li>
                <br>
                <li>در این مرحله ۳ لیوان آب درون قابلمه حاوی کدو حلوایی اضافه می کنیم، سپس درب قابلمه را می بندیم و اجازه می دهیم کدو حلوایی کاملا بپزد و آب آن کشیده شود. در ادامه پوست گردو را جدا می کنیم، سپس مغز آن را درون آسیاب می ریزیم.</li>
                <br>
                <li>حالا مغز گردو را آسیاب می کنیم تا کاملا پودر شود، سپس درون یک قابلمه مناسب می ریزیم. در ادامه قابلمه را روی حرارت ملایم قرار می دهیم، سپس رب انار ترش را به گردو آسیاب شده اضافه می کنیم و مخلوط می کنیم.
                </li>
                <br>
                <li>در این مرحله نمک و زردچوبه را به مخلوط گردو اضافه می کنیم، سپس  ۲ لیوان آب را کم کم به گردوی آسیاب شده و رب انار اضافه می کنیم و مدام هم می زنیم تا گردو و رب انار درون آب حل شود. در ادامه درب قابلمه را می بندیم.</li>
                <br>
                <li>حالا اجازه می دهیم گردو کاملا بپزد و روغن بندازد. در طی ۳ مرحله بین پخت مقدار کمی آب سرد به مخلوط گردو اضافه می کنیم، سپس درب قابلمه را می بندیم. در ادامه زمانی که کدو حلوایی کاملا پخته و آب آن کشیده شد از روی حرارت بر می داریم.</li>
                <br>
                <li>در این مرحله مخلوط کدو حلوایی و پیاز را درون غذاساز می ریزیم و میکس می کنیم تا پوره شود. در ادامه سبزی محلی چوچاغ را می شوییم، سپس درون آبکش قرار می دهیم و اجازه می دهیم آب اضافه اش کاملا خارج شود.</li>
                <br>
                <li>حالا سبزی چوچاغ را روی تخته گوشت قرار می دهیم، سپس به صورت ریز ساطوری می کنیم. در ادامه یک تابه مناسب روی حرارت ملایم قرار می دهیم، سپس سبزی چوچاغ را درون آن می ریزیم و تفت می دهیم تا آب آن تبخیر شود.</li>
                <br>
                <li>در این مرحله زمانی که آب اضافی سبزی کاملا کشیده شد مقداری روغن مایع درون تابه می ریزیم و سبزی را کاملا سرخ می کنیم. در ادامه زمانی که گردو روغن انداخت، سبزی چوچاغ سرخ شده را درون مخلوط گردو می ریزیم.</li>
                <br>
                <li>حالا مخلوط گردو را هم می زنیم، سپس پوره کدو حلوایی و پیاز را به آن اضافه کرده و مخلوط می کنیم. در ادامه درب قابلمه را می بندیم و اجازه می دهیم خورش کویی تره به مدت ۳۰ دقیقه روی حرارت بماند تا کاملا جا بیوفتد.</li>
                <br>
                <li>در این مرحله یک تکه آهن را روی حرارت زیاد قرار می دهیم و اجازه می دهیم کاملا داغ شود. در ادامه ده دقیقه آخر پخت آهن را درون خورش قرار می دهیم و درب قابلمه را می بندیم، سپس اجازه می دهیم ۱۰ دقیقه روی حرارت بماند.</li>
                <br>
                <li>در نهایت پس از گذشت این زمان تکه آهن را از درون خورش خارج می کنیم، سپس نمک را به همراه گلپر درون خورش می ریزیم و مخلوط می کنیم. در اخر خورش از روی حرارت بر می داریم و درون ظرف مورد نظرمان می ریزیم، سپس به همراه پلو سرو می کنیم. </li>
            </ol>
            <div id="d2">
                <h1>تره نوش جان</h1>
            </div>
            <br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'فسنجون' %}">
                    <img src="../../../static/aks/فسنجون1.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه فسنجون</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'اشپل کوکو' %}">
                    <img src="../../../static/aks/اشپل کوکو.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اشپل کوکو</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'بادمجان شکم پر' %}">
                    <img src="../../../static/aks/بادمجان شکم پر.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه بادمجان شکم پر</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>