<html>
    <head>
        <title>کولی غورابیج</title>
        <link rel="stylesheet" href="../../../static/css/کولی غورابیج.css">
    </head>
    <body dir="rtl" align="center"> 
        <header>
            <div id="d1"><h1>به گیلانی فوودز خوش آمدید</h1></div>
            <h1>گیلانی فوودز معدن غذاهای گیلانی</h1>
        </header> 
        <br> 
        <nav>
            <fieldset>
                <legend>راهنما</legend>
                 <a href="#q" class="s">تاریخچه</a>
                 <br>
                 <a href="#qq" class="s">مواد لازم</a>
                 <br>
                 <a href="#qqq" class="s">طرز تهیه</a>
                 <br>
            </fieldset>
        </nav>
        <br>
        <br>
        <article>
            <h1>کولی غورابیج</h1>
            <img src="../../../static/aks/کولی غورابیج.jpg" alt="عکس کولی غورابیج" width="600px" height="600px">
            <br>
            <h1 id="q">تاریخچه</h1>
            <p>کولی غورابیج یکی از غذاهای محلی در استان گیلان است. مواد کولی غورابیج را کولی یا ماهی ریز، سبزی‌های نعنا، خلواش، چوچاق و گشنیز، ترشی آبغوره یا آب انار یا آب نارنج، شکر، مغز گردو و نمک و فلفل تشکیل می‌دهد.</p>
            <br>
            <h1 id="qq">مواد لازم</h1>
            <ul align="right">
                <li>ماهی کولی</li>
                <li>سبزی معطر</li>
                <li>گردوی سابیده شده</li>
                <li>رب انار</li>
                <li>آبغوره</li>
                <li>نمک و فلفل سیاه</li>
                <li>زردچوبه و روغن</li>
            </ul>
            <br>
            <h1 id="qqq">طرز تهیه</h1>
            <ol align="right">
                <li>برای تهیه کولی غورابیج گیلانی در ابتدای کار گردوی سابیده شده را به همراه رب انار درون یک قابلمه مناسب می ریزیم. اگر گمج در دسترس دارید می توانید به جای قابلمه از آن برای پخت غذا استفاده کنید.</li>
                <br>
                <li>در این مرحله ۲ لیوان آب سرد اضافه کرده و مواد را مخلوط می کنیم تا یکدست شوند. در ادامه قابلمه را روی حرارت ملایم قرار داده و اجازه می دهیم گردو به مدت یک تا دو ساعت روی حرارت بماند تا کاملا روغن بیندازد.</li>
                <br>
                <li>در حین پخت گردو سبزی معطر که شامل چوچاق، کوتکوتو، نعنا و گشنیز است را آماده می کنیم. اگر به بازار های محلی شمال کشور دسترسی دارید می توانید این سبزی را به صورت آماده تهیه کنید.</li>
                <br>
                <li>اگر نتوانستید چوچاق و کوتکوتو پیدا کنید، به جای آن می توانید مقداری جعفری و کمی شبلیله اضافه کنید. سبزی ها را می شوییم و خرد می کنیم، سپس یک تابه روی حرارت قرار داده و سبزی را به همراه مقداری روغن اضافه می کنیم.</li>
                <br>
                <li>حالا اجازه می دهیم سبزی هم به مدت یک ساعت با گردو بپزد. در همین حین ماهی ها را با مقداری نمک، فلفل سیاه و زردچوبه طعم دار می کنیم، سپس یک تابه روی حرارت قرار داده و نصف لیوان روغن اضافه می کنیم.</li>
                <br>
                <li>در این مرحله صبر می کنیم تا روغن به خوبی داغ شود، سپس ماهی‌ها را درون روغن شناور قرار داده و اجازه می دهیم کاملا طلایی و برشته شوند. پس از سرخ کردن ماهی ها، آنها را از تابه خارج کرده و کنار می گذاریم.</li>
                <br>
                <li>پس از اینکه خورش به خوبی جا افتاد و روغن انداخت، آنرا درون ظرف مورد نظرمان می ریزیم. در ادامه ماهی های سرخ شده را روی خورش می چینیم و به همراه برنج ساده یا کته سرو می کنیم. </li>
                <br>
            </ol>
            <br>
            <div id="d2"><h1>تره نوش جان</h1></div>
            <br><br>
            <h4>برای وارد کردن نظرات خود روی لینک زیر کلیک کنید.<h4>
                <hr>
                <li align="center">
                    <a href="{% url 'comment_form'%}">نظرات خود را برای ما بفرستید</a>
                </li>
            <br><br>
            <div id="d4">
                <a href="{% url 'اشپل کوکو' %}">
                    <img src="../../../static/aks/اشپل کوکو.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه اشپل کوکو</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'رشته خشکار' %}">
                    <img src="../../../static/aks/رشته خشکار.jpg" alt="" width="25%" height="30%" align="right">
                <br>
                <h2 align="right">طرز تهیه رشته خشکار</h2>
                </a>
                <br>
                <hr>
                <a href="{% url 'جغول مغول' %}">
                    <img src="../../../static/aks/جقول.jpg" alt="" width="25%" height="30%" align="right">
                    <br>
                    <h2 align="right">طرز تهیه جقول مقول</h2>
                </a>
                <br>
            </div>
            <br>
            <br>
        </article>
    </body>
</html>